<div class="w3-row-padding w3-responsive">
  <table class="w3-table w3-striped w3-white">
    <thead class='w3-grey w3-text-white'>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Location</th>
        <th>Price</th>
        <th>Complete?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% treatments.each do |treatment| %>
        <tr>
          <td>
            <% if treatment.complete? %>
              <i class="material-icons" style="font-size: 24px">radio_button_checked</i>
            <% else %>
              <i class="material-icons" style="font-size: 24px">radio_button_unchecked</i>
            <% end %>
          <td><%= treatment.name %></td>
          <td><%= treatment.location %></td>
          <td><%= display_price(treatment.price) %></td>
          <td><%= complete?(treatment) %></td>

          <td><%= link_to "Delete", treatment_plan_treatment_path(treatment.treatment_plan, treatment), method: :delete, data: { confirm: "Are you sure you would like to delete this treatment?" }, class: "right-margin-btn btn btn-primary btn-sm" %>

          <%= link_to "Complete", "/treatments/#{treatment.id}/complete", method: :post, class: "right-margin-btn btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
