<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign Up", class: "btn signin-btn btn-primary btn-md right-margin-btn"  %>
    <%= link_to "Sign In", new_user_session_path, class: "btn signin-btn btn-primary btn-md" %>
  </div>
<% end %>

<%= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, :facebook) %><br>
<%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, :google_oauth2) %>
