<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>   <%= first_name(@user) %>'s Dashboard</b></h5>
</header>
<div class="w3-panel">
  <h5>Upcoming Appointments</h5>
  <% if @appointments.blank? %>
    No appointments have been created.
  <% else %>
    <%= render partial: 'appointments/appointments_table', locals: { appointments: @appointments } %>
  <% end %>
</div>


<div class="w3-panel">


  <h5>Your Patients</h5>
  <% if @patients.blank? %>
    You don't have any patients.
  <% else %>
    <%= render partial: 'patients/patients_table', locals: { patients: @patients } %>
  <% end %>

  <%= link_to "New Patient", new_patient_path %><br>
  <%= link_to "New Appointment", new_appointment_path %>
</div>
