<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>   <%= first_name(@user) %>'s Dashboard</b></h5>
</header>
<div class="w3-panel">
  <h5>Upcoming Appointments</h5>
  <% if @appointments.blank? %>
    <h6>No appointments have been created.</h6>
  <% else %>
    <%= render partial: 'appointments/appointments_table', locals: { appointments: @appointments } %>
  <% end %>
  <div class="new-button-div">
    <%= link_to "New Appointment", new_appointment_path, class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium" %>
  </div>
</div>


<div class="w3-panel">


  <h5>Your Patients</h5>
  <% if @patients.blank? %>
    You don't have any patients.
  <% else %>
    <%= render partial: 'patients/patients_table', locals: { patients: @patients } %>
  <% end %>
  <div class="new-button-div">
    <%= link_to "New Patient", new_patient_path, class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium" %>
  </div>

</div>
