<header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>   <%= first_name(@user) %>'s Dashboard</b></h5>
</header>
<div class="w3-panel">
  <h5>Upcoming Appointments</h5>

  <%= display_appointments_list(@appointments) %>

  <div class="new-button-div">
    <%= link_to "New Appointment", new_appointment_path, class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium" %>
  </div>
</div>


<div class="w3-panel">

  <h5>Your Patients</h5>
  <%= display_patients_list(@patients) %>

  <div class="new-button-div">
    <%= link_to "New Patient", new_patient_path, class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium" %>
  </div>

</div>
