<table class="w3-table">
<tr>
  <td>DOB</td>
  <td><%= date_of_birth(patient) %></td>
</tr>
<tr>
  <td>Phone</td>
  <td><%= patient.phone_number %></td>
</tr>
<tr>
  <% if !patient.address.blank? %>
    <td>Address</td>
    <td>
      <%= patient.address.street_1 %><br>

      <% if !patient.address.street_2.blank? %>
        <%= patient.address.street_2 %><br>
      <% end %>

      <%= patient.address.city %>,
      <%= patient.address.state %><br>
      <%= patient.address.zip_code %>
    </td>
  <% end %>
</tr>
<tr>
  <td><%= link_to "Edit", edit_patient_path(patient) %></td>
</tr>
</table>
