<div class="w3-container w3-twothird">
  <%= form_for @patient do |f| %>
    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons">account_circle</i></div>
      <div class="w3-rest">
        <%= f.text_field :name, class: "w3-input", placeholder: "Name", required: true %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column">
        <i class="material-icons">date_range</i></div>
      <div class="w3-rest">
        <%= f.label "Date of Birth" %><br>
        <%= f.date_select :dob, start_year: Time.now.year - 100, end_year: Time.now.year, class: "w3-input w3-select", include_blank: true %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons">phone</i></div>
      <div class="w3-rest">
        <%= f.text_field :phone_number, class: "w3-input", placeholder: "Phone Number", required: true %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons">location_on</i></div>
      <div class="w3-rest">
        <%= f.fields_for :address do |a| %>
          <%= a.text_field :street_1, class: "w3-input", placeholder: "Street Address Line 1", required: true %>
          <%= a.text_field :street_2, class: "w3-input w3-margin-top", placeholder: "Street Address Line 2" %>
          <%= a.text_field :city, class: "w3-input w3-margin-top", placeholder: "City", required: true %>
          <%= a.text_field :state, class: "w3-input w3-margin-top", placeholder: "State", required: true %>
          <%= a.text_field :zip_code, class: "w3-input w3-margin-top", placeholder: "Zip Code", required: true %>
        <% end %>
      </div>
    </div>

    <%= f.submit class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium", style:"margin-left: 50px;" %>
  <% end %>
</div>
