<div class="w3-panel">
  <div class="w3-row-padding w3-margin-bottom" style="margin:0 -16px">
    <div class="w3-third">
      <div class="w3-container w3-red w3-padding-16">
        <h3><%= @patient.name %></h3>
        <%= render partial: 'patient', locals: { patient: @patient } %>
      </div>
    </div>
    <div class="w3-twothird">
      <% if @treatment_plans.blank? %>
        No treatment plans have been created.
      <% else %>
        <%= render partial: 'treatment_plans/treatment_plans_table', locals: { treatment_plans: @treatment_plans } %>
      <% end %>
    </div>
  </div>
</div>

<div class="w3-container w3-responsive">
  <% if @appointments.blank? %>
    No appointments have been created.
  <% else %>
    <%= render partial: 'appointments/appointments_table', locals: { appointments: @appointments } %>
  <% end %>

  <p><%= link_to "Create an appointment for this patient", new_patient_appointment_path(@patient) %></p>

  <p><%= link_to "Create a treatment plan for this patient", new_patient_treatment_plan_path(@patient) %></p>

  <%= link_to "Delete This Patient", @patient, method: :delete, data: { confirm: "Are you sure you would like to delete this patient? This will also delete the patient's appointments." }, class: "delete-patient right-margin-btn btn btn-primary btn-sm" %>
</div>
