<h3>Patient Info</h3>

<%= render partial: 'patient', locals: { patient: @patient } %>

<h3>Appointments for <%= @patient.name %></h3> <!-- show the patient's appointments -->

<% if @appointments.blank? %>
  No appointments have been created.
<% else %>
  <%= render partial: 'appointments/appointments_table', locals: { appointments: @appointments } %>
<% end %>

<p><%= link_to "Create an appointment for this patient", new_patient_appointment_path(@patient) %></p>

<h3>Treatment Plans for <%= @patient.name %> </h3>

<% if @treatment_plans.blank? %>
  No treatment plans have been created.
<% else %>
  <%= render partial: 'treatment_plans/treatment_plans_table', locals: { treatment_plans: @treatment_plans } %>
<% end %>

<p><%= link_to "Create a treatment plan for this patient", new_patient_treatment_plan_path(@patient) %></p>
