<%= date_and_time(appointment) %><br>
<%= appointment.location %><br>
<%= link_to appointment.patient.name, patient_path(appointment.patient) %><br>
<%= appointment.user.name %><br><br>

<td>
  <%= link_to "Edit", edit_appointment_path(appointment), class: "right-margin-btn btn btn-primary btn-sm" %>
</td>
<td>
  <%= link_to "Delete", appointment, method: :delete, data: { confirm: appointment_confirm_text }, class: "delete-appointment right-margin-btn btn btn-primary btn-sm" %>
</td><br><br>
