<div class="w3-container w3-twothird">
  <%= form_for @appointment do |f| %>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">access_time</i></div>
      <div class="w3-rest">
        <%= f.datetime_select :time, class: "w3-input w3-select", start_year: Time.now.year, minute_step: 15, start_hour: 7, end_hour: 17, include_blank: true, required: true %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">location_on</i></div>
      <div class="w3-rest">
        <%= f.text_field :location, placeholder: "Location", class: "w3-input", required: true %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">healing</i></div>
      <div class="w3-rest">
        <%= f.collection_select(:user_id, User.all, :id, :name) %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">person</i></div>
      <div class="w3-rest">
      <%= f.collection_select(:patient_id, Patient.all, :id, :name) %>
      </div>
    </div>

    <%= f.submit class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium" %>
<% end %>
