<div class="w3-container w3-twothird">
  <div id="datepicker-div"></div>

  <%= form_for @appointment do |f| %>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">access_time</i></div>
      <div class="w3-rest">
        <span class="w3-col w3-half">
          <%= text_field_tag :date, todays_date, class: "w3-input", required: true, id: "datepicker" %>
        </span>
        <!-- <%= f.datetime_select :time, class: "w3-input w3-select", start_year: Time.now.year, minute_step: 15, start_hour: 7, end_hour: 17, include_blank: true, required: true %> -->
        <span class="w3-col w3-half time-select">
          <%= f.time_select :time, { start_hour: 8, end_hour: 16, ampm: true, :minute_step => 15, :time_separator => ":" } %>
          <!-- <%= select_tag :hour, options_for_select([7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5]) %>
          :
          <%= select_tag :minute, options_for_select([00, 15, 30, 45]) %> -->
        </span>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">location_on</i></div>
      <div class="w3-rest">
        <%= f.text_field :location, placeholder: "Location", class: "w3-input", required: true %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">healing</i></div>
      <div class="w3-rest">
        <%= f.collection_select(:user_id, User.all, :id, :name) %>
      </div>
    </div>

    <div class="w3-row w3-section">
      <div class="w3-col icon-column"><i class="material-icons form-icon">person</i></div>
      <div class="w3-rest">
      <%= f.collection_select(:patient_id, Patient.all, :id, :name) %>
      </div>
    </div>

    <%= f.submit class: "w3-button w3-medium w3-black w3-hover-pink w3-round-large w3-padding-medium" %>
<% end %>
