<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--  W3 CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="<%= '/application.css' %>" rel="stylesheet" type="text/css"/>

    <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

    <title>DentalCms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = 'w3-light-grey'>
    <% flash.each do |name, msg| %>
      <% if name == 'notice' then name = 'success' end %>
      <% if name == 'alert' then name = 'danger' end %>
      <%= content_tag :div, msg, :id => "alert_#{name}", :class => "flash alert alert-#{name} alert-box radius", :role => "alert" %>
      <% end %>

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
      <span class="w3-bar-item w3-right">Dental Office Manager</span>
    </div>

    <% if user_signed_in? %>
      <!-- Sidebar/menu -->
      <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
          <div class="w3-col s4">
            <img src="/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
          </div>
          <div class="w3-col s8 w3-bar">
            <span>Welcome, <strong><%= current_user.name %></strong></span><br>
          </div>
        </div>
        <hr>
        <div class="w3-container">
          <h5>Dashboard</h5>
        </div>
        <div class="w3-bar-block">
          <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
          <a href="/dashboard" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-eye fa-fw"></i>  Dashboard</a>
          <a href="/patients" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Patients</a>
          <a href="/appointments" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  Appointments</a>
          <i class="fa fa-cog fa-fw"></i><%= link_to("Sign Out", destroy_user_session_path, :method => 'delete', class: "w3-bar-item w3-button w3-padding") %>
        </div>
      </nav>
    <% else %>
    <% end %>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

      <div class="container">
        <div class="row"> <!-- start nav bar & FP row -->
          <div class="col-sm-12"> <!-- nav bar -->
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
               <a class="navbar-brand" href="/">Dental CMS</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarsExample03">
                 <ul class="navbar-nav ml-auto">

                   <% if user_signed_in? %>
                     <li class="nav-item">
                       <a class="nav-link" href="/patients">Patients</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/appointments">Appointments</a>
                     </li>
                    <% end %>

                   <% if user_signed_in?  %>
                     <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <%= current_user.name %>
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <div class="dropdown-item">
                           <%= link_to("Dashboard", dashboard_path) %>
                         </div>
                         <div class="dropdown-divider"></div>
                          <div class="dropdown-item">
                            <%= link_to("Sign Out", destroy_user_session_path, :method => 'delete') %>
                          </div>
                         </div>
                     </li>
                   <% else %>
                     <li class="nav-item">
                       <a class="nav-link" href="/accounts/sign_in">Sign In</a>
                     </li>

                     <li class="nav-item">
                       <a class="nav-link" href="/accounts/sign_up">Sign Up</a>
                     </li>
                   <% end %>
                 </ul>
               </div>
            </nav>
          </div> <!-- end nav bar -->
        </div> <!-- end navbar row -->

      <%= yield %>

      <footer>
        <div class="row"> <!-- footer row -->
          <div class="col-sm-12 pt-3 footer">
            &copy; 2018 Allyson Wesman
          </div>
        </div> <!-- end footer row -->
      </footer>
    </div> <!-- end main container -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
